@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family:  'Jost', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
}
#__next {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fullWidthDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.capitalize {
text-transform: capitalize;
}

.imageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:15px;
}


.amenitiesImage {
  margin: 10px;
  background-color: white; 
  padding-top: 20px; 
  padding-bottom: 10px;
}

.embeded-youtube-video {
  width: 975px;
  height: 550px;
  border-radius: 10px;
}
.villa-feature-section {
  margin-top: 2em;
}
.villa-feature-list__item {
  font-size: 2em;
  background-color: #9F292B;
  padding: 0.3em;
  border-radius: 1em;
  color:white;

}

.villa-feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-villa-card {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
  .embeded-youtube-video {
    width: 100%;
    height: 100%;
  }

  .pricing-section-heading {
    margin-top: 1em;
    margin-left: 0.5em;

  }
  .villa-feature-list {
    display: grid;
    grid-template-columns: 1fr;
  }

}

@media (min-width: 767px) {
  .villa-feature-list__item {
    margin:1em 4em;
  }
}


#homepage-banner {
  background-image: url('/static/img/hero-image.jpg');
  background-size: cover;
}

.gallery-image-text {
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.gallery-image-text span{
  color: #9F292B;
}

.mb-5 {
  margin-bottom: 2em;
}

.villa-feature-list {
  list-style: none;
}

